.head{
  position: relative;
  top:5px;
  max-width: 20%;
  text-align: center;
  font-size: 2em;
  background-color: bisque;
  margin: auto;
  border-radius: 10px;
}

#totalValue,
#stopLossValue,
#futuresProducts,
#takeProfitPrice,
#stopLossPrice {
width: 60px;
}