.container {
  display: flex;
}

#container1 {
min-width: 400px;
max-width: 400px;
justify-content: space-between;
}

#container2 {
  position: relative;
  top:50px;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 0 10px;
  z-index: 1;
  align-items: center;
}

#container3 {
  display: block;
  min-width: 30%;
  justify-content: center
}

#futureProducts {
  width: 100%;
}

.container2Item{
  margin: 5px;
}
.button {
    background-color: rgb(255, 166, 0);
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 8px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}